@model List<MvcProject.Models.Product>
@{decimal price = 0; }
<h2>סל קניות</h2>
<table>
    <tr>
       
        @for (int i = 0; i < Model.Count(); i++)
            {
            @Html.Partial("ViewInCart", Model[i])
            price += Model[i].Price;

        }
    </tr>
</table>
<br />
<div>   סך הכל לתשלום:<span id="TotalPrice">$@price</span></div>

<br />


@if (price > 0)
{
    using (Html.BeginForm("Sale", "ShoppingCart"))
    {
        <h3>להסרה מהסל סמן את המוצר!</h3>
        <div class="form-group BuyButton">
            <div class="col-md-offset-3 col-md-9">

                <input type="submit" value="קניה" class="btn btn-default" />
            </div>
        </div>
    }

}


<script>
    $(".checkboxes").change(function () {
        var inputBox = event.target;
        $.ajax({
            url: "/ShoppingCart/RemoveFromCart/" + $(event.target).attr('dataid'),
            success: function (data) {
                var totalprice = document.getElementById('TotalPrice');
                totalprice.innerHTML = (parseFloat(totalprice.innerHTML) - data).toFixed(3);
                if(parseFloat(totalprice.innerHTML)<0.01)
                    $(".BuyButton").remove();

                $(inputBox).parent().remove();
            }
        });
    });

</script>